Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @lsmitchell, @mjburling, @brianburton, @mackec1, @malessi, @billie-rose

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @lsmitchell @mjburling @brianburton 

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @lsmitchell @mjburling
/ops @keithdadkins @mjburling @malessi @billie-rose
/apps @mackec1 @mjburling @lsmitchell @brianburton

# BFD Performance Testing Utilities
/apps/utils/locust_tests @lsmitchell @mjburling @malessi @billie-rose

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @lsmitchell @mjburling @malessi @billie-rose

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling

BFD-2813: Clean up DOS Attack vector regexes in BFD Server code(Using StringUtils from apache)
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/RequestHeaders.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/StringUtils.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4PatientResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientResourceProvider.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/commons/StringUtilsTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Code cleanup.
  apps/bfd-server/bfd-server-launcher/src/main/java/gov/cms/bfd/server/launcher/DataServerLauncherApp.java
  apps/bfd-server/bfd-server-war/pom.xml
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/ServerInitializer.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerExecutor.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerRequiredTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Allows database cleanup to run in multiple threads simultaneously.
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerRequiredTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Streamlines pom file.
  apps/bfd-server/bfd-server-war/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Adds code to shutdown S3TaskManager.
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/PipelineApplication.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

MigratorApp tests run migrator in same process as tests.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/AppConfiguration.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/RdaSchemaMigrationIT.java
  apps/bfd-db-migrator/src/test/resources/logback-test.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

bfd-pipeline-app runs pipeline in same process as integration tests.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/resources/logback-test.xml
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/PipelineApplication.java
  apps/bfd-pipeline/bfd-pipeline-app/src/test/java/gov/cms/bfd/pipeline/app/PipelineApplicationIT.java
  apps/bfd-pipeline/bfd-pipeline-app/src/test/resources/logback-test.xml
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/src/main/java/gov/cms/bfd/pipeline/ccw/rif/CcwRifLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/src/main/java/gov/cms/bfd/pipeline/ccw/rif/CcwRifLoadOptions.java
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/src/test/java/gov/cms/bfd/pipeline/ccw/rif/CcwRifLoadJobIT.java
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/src/test/java/gov/cms/bfd/pipeline/ccw/rif/extract/synthetic/SyntheaRifLoadJobIT.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractRdaLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/main/java/gov/cms/bfd/pipeline/sharedutils/s3/S3Dao.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/exceptions/FatalAppException.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2844: bfd-server-war tests run in-process rather than forked.
  apps/bfd-server/bfd-server-launcher/pom.xml
  apps/bfd-server/bfd-server-launcher/src/main/java/gov/cms/bfd/server/launcher/AppConfiguration.java
  apps/bfd-server/bfd-server-launcher/src/main/java/gov/cms/bfd/server/launcher/DataServerLauncherApp.java
  apps/bfd-server/bfd-server-war/pom.xml
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/ServerInitializer.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/AccessJsonIT.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerExecutor.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerInitializerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerRequiredTest.java
  apps/bfd-server/bfd-server-war/src/test/resources/logback-test.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Refactoring to simplify PR review.
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/PipelineApplication.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Removes redundant code and comments.
  apps/bfd-pipeline/bfd-pipeline-app/src/test/resources/logback-test.xml
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/main/java/gov/cms/bfd/pipeline/sharedutils/s3/S3Dao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

rebased
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/RequestHeaders.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4PatientResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientResourceProvider.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Refactoring to synchronize use of log file by integration tests.
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/RdaSchemaMigrationIT.java
  apps/bfd-pipeline/bfd-pipeline-app/src/test/java/gov/cms/bfd/pipeline/app/PipelineApplicationIT.java
  apps/bfd-pipeline/bfd-pipeline-shared-test-utils/pom.xml
  apps/bfd-shared-test-utils/pom.xml
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/FileBasedAssertionHelper.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fifo queue
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  docs/runbooks/how-to-recover-from-migrator-failures.md
  ops/ansible/roles/bfd-db-migrator/README.md
  ops/ansible/roles/bfd-db-migrator/defaults/main.yml
  ops/terraform/services/base/values/ephemeral.yaml
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
  ops/terraform/services/migrator/main.tf
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton, @keithdadkins, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

fix: upgrade com.google.protobuf:protobuf-java-util from 3.23.4 to 3.24.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  ops/terraform/services/migrator/deploy.groovy
  ops/terraform/services/migrator/main.tf
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton, @keithdadkins, @malessi, @billie-rose

Add repeater invocation rate configuration for ephemeral environments
  ops/terraform/services/base/values/ephemeral.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

update to use messageGroupId
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsProgressReporter.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsProgressReporterTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fmt
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsProgressReporter.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update MigratorApp.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2835: CCW RIF Pipeline SLO Alarms are failing to evaluate when SLOs are violated (#1906)
  ops/terraform/services/base/values/ephemeral.yaml
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/data-sources.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/iam.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/common.py
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/pipeline_metrics_repeater.py
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/update_pipeline_slis.py
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slo_alarms/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

fifo naming
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

.
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

.
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Uses constants for exit codes.
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update SqsDaoIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update SqsDaoIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: apps/pom.xml to reduce vulnerabilities
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

test
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  ops/terraform/services/migrator/deploy.groovy
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton, @keithdadkins, @malessi, @billie-rose

Update SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fmt
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  ops/ansible/roles/bfd-db-migrator/README.md
  ops/terraform/services/migrator/deploy.groovy
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton, @keithdadkins, @malessi, @billie-rose

Add Lifecycle Hook definition to Server ASG; complete lifecycle action for new lifecycle hook when server is warmed up
  ops/ansible/roles/bfd-server/templates/bfd-server.sh.j2
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
  ops/terraform/services/server/modules/bfd_server_asg/templates/fhir_server.tpl
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Define hook if Ansible var exists; check if launch lifecycle is defined; additional logging; refactor nested ifs
  ops/ansible/roles/bfd-server/templates/bfd-server.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose
