Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbrunefearless, @mackec1, @keithdadkins, @rtravitz, @jzulim, @njdister, @msnook, @orenfromberg, @lailasharshar, @nflearl, @wnyffenegger, @dtisza1, @ericbuckley, @brianburton

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz

#BFD Pipeline and Server Codeowners
/rfcs @jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz
/ops @jzulim @keithdadkins @njdister @rtravitz
/apps @jzulim @cbrunefearless @mackec1 @rtravitz

#BFD Insights Codeowners
/insights @jzulim @keithdadkins @njdister @mackec1 @rtravitz

#BCDA Insights Codeowners
/insights/terraform/projects/bcda @msnook @orenfromberg

#AB2D Insights Codeowners
/insights/terraform/projects/ab2d @lailasharshar @nflearl @wnyffenegger

#BB2 Insights Codeowners
/insights/terraform/projects/bb2 @dtisza1 @njdister @jzulim

#DCGEO Pipeline Codeowners
/apps/bfd-pipeline/bfd-pipeline-rda-grpc @ericbuckley @brianburton

perform COMMIT every 10,000 rcds; minimize to_date processing (#593)
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-854-Fix-PartD-Enrollment-Smaller-Transactions/05_process_ccw_table.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

IAM roles and policy updates
  ops/terraform/modules/resources/eft_efs/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

fix: apps/bfd-server-test-perf/ansible/requirements.txt to reduce vulnerabilities
  apps/bfd-server-test-perf/ansible/requirements.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

fix: ops/ansible/roles/bfd-server/requirements.txt to reduce vulnerabilities
  ops/ansible/roles/bfd-server/requirements.txt
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Adds Serializability to Config objects and RdaLoadObjects.
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadOptions.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/source/GrpcRdaSource.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadJobTest.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadOptionsTest.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/source/GrpcRdaSourceTest.java
Owners: @ericbuckley, @brianburton

Break the CCW one-time load processing into small(er) transactions via inner & outer loop; remove sql floder that was previously committed and shouldn't exist
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-855-Fix-PartD-Enrollment-Smaller-Transactions2/05_process_ccw_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-855-Fix-PartD-Enrollment-Smaller-Transactions2/Playbook.txt
  sql/Playbook.txt
  sql/bene_monthly_audit.sql
  sql/ccw_load_delete_trigger.sql
  sql/ccw_load_insert_trigger.sql
  sql/ccw_load_temp.sql
  sql/ccw_load_temp_via_copy.sql
  sql/ccw_load_temp_via_copy_nohdr.sql
  sql/ccw_load_update_trigger.sql
  sql/process_ccw_table.sql
  sql/run_ccw_load.sql
  sql/test/ccw_load_columns.csv
  sql/test/ccw_load_columns_vert.csv
  sql/test/ccw_load_test_data.csv
  sql/test/ccw_load_test_data_nohdr.csv
  sql/test/ccw_load_test_data_nohdr_quotes.csv
  sql/track_bene_monthly_change_func.sql
  sql/update_bene_monthly_proc.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[DCGEO-48] Updated exception messages for more exact testing
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResponseResourceProvider.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResourceProviderTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResponseResourceProviderTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/utils/AssertUtils.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Use a variable MAX_INNER to set max number of rcds to processing in <<inner>> loop
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-855-Fix-PartD-Enrollment-Smaller-Transactions2/05_process_ccw_table.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Various unit test improvements.
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadJobTest.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/source/GrpcResponseStreamTest.java
Owners: @ericbuckley, @brianburton

Add some INFO message for transaction ID
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-855-Fix-PartD-Enrollment-Smaller-Transactions2/05_process_ccw_table.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[DCGEO-48] Switch to static final variabels for metric names
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjFissClaimResponseTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjFissClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjMcsClaimResponseTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjMcsClaimTransformerV2.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

mend
  ops/terraform/modules/resources/eft_efs/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

remove sql folder that was mistakenly checked into tree; remove spurious scripts folder; modify the 05_ CCW load processing file
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-854-Fix-PartD-Enrollment-Smaller-Transactions/05_process_ccw_table.sql
  sql/Playbook.txt
  sql/bene_monthly_audit.sql
  sql/ccw_load_delete_trigger.sql
  sql/ccw_load_insert_trigger.sql
  sql/ccw_load_temp.sql
  sql/ccw_load_temp_via_copy.sql
  sql/ccw_load_temp_via_copy_nohdr.sql
  sql/ccw_load_update_trigger.sql
  sql/process_ccw_table.sql
  sql/run_ccw_load.sql
  sql/test/ccw_load_columns.csv
  sql/test/ccw_load_columns_vert.csv
  sql/test/ccw_load_test_data.csv
  sql/test/ccw_load_test_data_nohdr.csv
  sql/test/ccw_load_test_data_nohdr_quotes.csv
  sql/track_bene_monthly_change_func.sql
  sql/update_bene_monthly_proc.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

display time at various points during processing
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

mount using access point option by default
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

require sudo
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

allow partner to query access points
  ops/terraform/modules/resources/eft_efs/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

fix random host entry
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Update documentation
  ops/ccs-ops-misc/load-test/README.md
  ops/ccs-ops-misc/load-test/locustfile.py
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

[dcgeo-62] Add Fiss claim entities
  apps/bfd-model/bfd-model-rda/pom.xml
  apps/bfd-model/bfd-model-rda/src/main/java/gov/cms/bfd/model/rda/PreAdjFissClaim.java
  apps/bfd-model/bfd-model-rda/src/main/java/gov/cms/bfd/model/rda/PreAdjFissProcCode.java
  apps/bfd-model/bfd-model-rda/src/main/java/gov/cms/bfd/model/rda/PreAdjFissProcCodePK.java
  apps/bfd-model/bfd-model-rda/src/main/java/gov/cms/bfd/model/rda/package-info.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[DCGEO-62] Add RDA module to model parent pom
  apps/bfd-model/pom.xml
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[DCGEO-62] Add join with ProcCode table from claim
  apps/bfd-model/bfd-model-rda/src/main/java/gov/cms/bfd/model/rda/PreAdjFissClaim.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

remove adding bcda efs
  ops/terraform/modules/stateful/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

reusable efs_alarms module
  ops/terraform/modules/resources/efs_alarms/main.tf
  ops/terraform/modules/resources/efs_alarms/variables.tf
  ops/terraform/modules/resources/eft_efs/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Add capability to ingest Insights data from BCDA dev and test
  insights/terraform/projects/bcda/lambda/index.js
  insights/terraform/projects/bcda/main.tf
Owners: @msnook, @orenfromberg

add unit tests to line items for dme
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2Test.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

update ansible versions to non-vulnerable 2.9.20
  apps/bfd-pipeline/bfd-pipeline-benchmarks/src/test/ansible/requirements.freeze.txt
  apps/bfd-pipeline/bfd-pipeline-benchmarks/src/test/ansible/requirements.txt
  apps/bfd-server-test-perf/ansible/requirements.txt
  ops/ansible/playbooks-ccs/requirements.txt
  ops/ansible/roles/bfd-server/requirements.freeze.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz, @keithdadkins, @njdister

Added a script to delete claims that are positive with negative beneficiaries
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/Delete_Synthetic_Negative_Claims_With_PositiveClaimIds.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[BFD-855] Fix one-time CCW BeneMonthly load process to minimize transaction buffer size (#599)
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-854-Fix-PartD-Enrollment-Smaller-Transactions/05_process_ccw_table.sql
  sql/Playbook.txt
  sql/bene_monthly_audit.sql
  sql/ccw_load_delete_trigger.sql
  sql/ccw_load_insert_trigger.sql
  sql/ccw_load_temp.sql
  sql/ccw_load_temp_via_copy.sql
  sql/ccw_load_temp_via_copy_nohdr.sql
  sql/ccw_load_update_trigger.sql
  sql/process_ccw_table.sql
  sql/run_ccw_load.sql
  sql/test/ccw_load_columns.csv
  sql/test/ccw_load_columns_vert.csv
  sql/test/ccw_load_test_data.csv
  sql/test/ccw_load_test_data_nohdr.csv
  sql/test/ccw_load_test_data_nohdr_quotes.csv
  sql/track_bene_monthly_change_func.sql
  sql/update_bene_monthly_proc.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Make the code a bit more DRY
  insights/terraform/projects/bcda/lambda/index.js
  insights/terraform/projects/bcda/main.tf
Owners: @msnook, @orenfromberg

dsiable new relic HSM for bfd-server via env var
  ops/ansible/roles/bfd-server/templates/bfd-server.sh.j2
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

dsiable new relic HSM for bfd-server via env var (#602)
  ops/ansible/roles/bfd-server/templates/bfd-server.sh.j2
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Address feedback
  ops/ccs-ops-misc/load-test/locustfile.py
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

add code for tests and helper for searching by code and amount
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/TransformerTestUtilsV2.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

modified pure sql solution to use a combination of shell (bash) script and function; modified Playbook to reflect changes
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_create_update_proc_and_function.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_do_update.sh
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/07_cleanup_triggers.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[BCDA-4532] Add capability to ingest Insights data from BCDA dev and test (#600)
  insights/terraform/projects/bcda/lambda/index.js
  insights/terraform/projects/bcda/main.tf
Owners: @msnook, @orenfromberg

update ansible versions to non-vulnerable 2.9.20 (#601)
  apps/bfd-pipeline/bfd-pipeline-benchmarks/src/test/ansible/requirements.freeze.txt
  apps/bfd-pipeline/bfd-pipeline-benchmarks/src/test/ansible/requirements.txt
  apps/bfd-server-test-perf/ansible/requirements.txt
  ops/ansible/playbooks-ccs/requirements.txt
  ops/ansible/roles/bfd-server/requirements.freeze.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz, @keithdadkins, @njdister

Update apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_do_update.sh
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_do_update.sh
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Remove unused dependencies
  apps/bfd-model/bfd-model-rda/pom.xml
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

better handling of db conectivity; do not use set -e
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_do_update.sh
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz
