Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @lsmitchell, @mjburling, @brianburton, @mackec1, @malessi, @billie-rose

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @lsmitchell @mjburling @brianburton 

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @lsmitchell @mjburling
/ops @keithdadkins @mjburling @malessi @billie-rose
/apps @mackec1 @mjburling @lsmitchell @brianburton

# BFD Performance Testing Utilities
/apps/utils/locust_tests @lsmitchell @mjburling @malessi @billie-rose

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @lsmitchell @mjburling @malessi @billie-rose

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling

mvn fmt
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/PatientClaimsEobTaskTransformerV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/PatientClaimsEobTaskTransformerTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix Javadoc info
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/InpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/OutpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PartDEventTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/SNFClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/HHAClaimTransformer.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

mvn fmt
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/InpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/OutpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PartDEventTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/SNFClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/HHAClaimTransformer.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

remove CARRIER and DME check for tax status
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProvider.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

remove logging where an exception is re-thrown
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProvider.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

remove logging where an exception is re-thrown in another place
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProvider.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix check for SAMHSA filtering (used wrong variable in test)
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PatientClaimsEobTaskTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientClaimsEobTaskTransformer.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix use of Boolean
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformerTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

mvn fmt
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformerTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

remove duplicate line of code
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2Test.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

declare Exception as final AtomicReference; adjust set/get as needed
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PatientClaimsEobTaskTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientClaimsEobTaskTransformer.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2820: Re-enable threaded maven builds
  .github/workflows/ci-java.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Extend threading to data libraries
  .github/workflows/ci-java.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2817: Enable GHA Merge Queues
  .github/workflows/ci-java.yml
  .github/workflows/ci-runbook.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-terraform.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

fix: upgrade org.testcontainers:testcontainers from 1.18.0 to 1.18.3
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

revert parsing of SAMHSA http param to how it is handled in master
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProvider.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix Javadoc spelling error
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtilsTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

mvn fmt
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/SamhsaMatcherFromClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtilsTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2817: Enable GHA Merge Queues (#1864)
  .github/workflows/ci-java.yml
  .github/workflows/ci-runbook.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-terraform.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

[Snyk] Upgrade org.apache.maven.plugin-tools:maven-plugin-annotations from 3.8.2 to 3.9.0 (#1861)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2820: Re-enable threaded maven builds (#1865)
  .github/workflows/ci-java.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Remove invalid trailing slashes in Claim/ClaimResponse filter patterns
  ops/terraform/services/server/modules/bfd_server_metrics/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

[Snyk] Upgrade org.testcontainers:testcontainers from 1.18.0 to 1.18.3 (#1866)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2729: Improve Regression Suite with PAC Data (#1854)
  apps/utils/locust_tests/common/bfd_user_base.py
  apps/utils/locust_tests/common/data.py
  apps/utils/locust_tests/common/db.py
  apps/utils/locust_tests/common/task_utils.py
  apps/utils/locust_tests/common/url_path.py
  apps/utils/locust_tests/high_volume_suite.py
  apps/utils/locust_tests/lambda/server-regression/app.py
  apps/utils/locust_tests/v1/regression_suite.py
  apps/utils/locust_tests/v2/partially_adjudicated.py
  apps/utils/locust_tests/v2/partially_adjudicated_smoketest.py
  apps/utils/locust_tests/v2/regression_suite.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

[Snyk] Upgrade software.amazon.awssdk.crt:aws-crt from 0.21.17 to 0.22.5 (#1852)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2821: Fix PAC endpoint metric filters do not filter URI correctly (#1867)
  ops/terraform/services/server/modules/bfd_server_metrics/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update pom.xml
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade software.amazon.awssdk.crt:aws-crt from 0.22.5 to 0.23.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade jakarta.xml.bind:jakarta.xml.bind-api from 2.3.2 to 2.3.3
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade org.springframework.data:spring-data-jpa from 2.7.13 to 2.7.14
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade jakarta.xml.bind:jakarta.xml.bind-api from 2.3.2 to 2.3.3 (#1869)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade org.springframework.data:spring-data-jpa from 2.7.13 to 2.7.14 (#1870)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade software.amazon.awssdk.crt:aws-crt from 0.22.5 to 0.23.0 (#1868)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update apps/utils/cipher/cipher.main.kts
  apps/utils/cipher/cipher.main.kts
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update apps/utils/cipher/cipher.main.kts
  apps/utils/cipher/cipher.main.kts
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2680: program for KMS based secret management (#1769)
  apps/utils/cipher/cipher.main.kts
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

formatting, update to builder
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/src/main/java/gov/cms/model/dsl/codegen/plugin/GenerateEntitiesFromDslMojo.java
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/src/test/java/gov/cms/model/dsl/codegen/plugin/GenerateEntitiesFromDslMojoTest.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/OutpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/OutpatientClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/SNFClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Remove ssh key
  ops/terraform/env/mgmt/base_config/values/mgmt.eyaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2825: Offboard Jeremy Rosenfeld (#1871)
  ops/terraform/env/mgmt/base_config/values/mgmt.eyaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Initial Commit removing ClaimTypeV2 from r4.providers
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/ClaimType.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DiagnosisUtilV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/HHAClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/HospiceClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/InpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/OutpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PartDEventTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PatientClaimsEobTaskTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4EobSamhsaMatcher.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/SNFClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/commons/ClaimTypeTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/utils/EndpointJsonResponseComparatorV2IT.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton
