Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @lsmitchell, @mjburling, @brianburton, @mackec1, @malessi, @billie-rose

[Snyk] Upgrade org.eclipse.jetty:jetty-annotations from 10.0.14 to 10.0.15 (#1853)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

use transformer types when instantating instead of using the transformer interface
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProviderE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

use boolean instead of Boolean
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformerTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

use static class casts
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/HHAClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/HospiceClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/InpatientClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/OutpatientClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/PartDEventTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/SNFClaimTransformerTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix javadoc
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProvider.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

mvn formatting
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProvider.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2739: Introduce SonarQube Service Account (#1857)
  docs/runbooks/README.md
  docs/runbooks/how-to-manage-sonarqube-service-account.md
  ops/terraform/env/mgmt/base_config/values/mgmt.eyaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

use static cast for Claim types
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProviderE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

use static cast for Claim types
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/HHAClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/HospiceClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/InpatientClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/OutpatientClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/PartDEventTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/SNFClaimTransformerTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

mvn formatter
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ExplanationOfBenefitResourceProviderE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix javadoc
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/QueryUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update pom.xml
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Resolve spring-data-jpa.version conflict
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

check int bitmask entry before checking vs. passed in EnumSet
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

mvn fmt
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/QueryUtils.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Swap Michael's new EUA in base (medicare opt out admins)
  ops/terraform/services/base/values/prod-sbx.eyaml
  ops/terraform/services/base/values/prod.eyaml
  ops/terraform/services/base/values/test.eyaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

remove Michael's Ad Hoc ssh key
  ops/terraform/env/mgmt/base_config/values/mgmt.eyaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2807: Offboard Ad Hoc Burling (#1859)
  ops/terraform/env/mgmt/base_config/values/mgmt.eyaml
  ops/terraform/services/base/values/prod-sbx.eyaml
  ops/terraform/services/base/values/prod.eyaml
  ops/terraform/services/base/values/test.eyaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Run formatting; add function for retrieval of PAC synthetic data
  apps/utils/locust_tests/common/db.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Remove smoketest invocation from Lambda handler
  apps/utils/locust_tests/lambda/server-regression/app.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Resolve significant typing errors; use next() and random.choice() where appropriate
  apps/utils/locust_tests/common/bfd_user_base.py
  apps/utils/locust_tests/common/data.py
  apps/utils/locust_tests/common/db.py
  apps/utils/locust_tests/common/types.py
  apps/utils/locust_tests/common/url_path.py
  apps/utils/locust_tests/high_volume_suite.py
  apps/utils/locust_tests/v1/regression_suite.py
  apps/utils/locust_tests/v2/partially_adjudicated.py
  apps/utils/locust_tests/v2/partially_adjudicated_smoketest.py
  apps/utils/locust_tests/v2/regression_suite.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Replace all collections.abc imports with corresponding typing imports as the typing imports are aliases for collection.abc
  apps/utils/locust_tests/common/bfd_user_base.py
  apps/utils/locust_tests/common/types.py
  apps/utils/locust_tests/common/url_path.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Merge PACA endpoint tests into regression suite; use itertools to cycle data when it is exhausted
  apps/utils/locust_tests/common/task_utils.py
  apps/utils/locust_tests/v2/regression_suite.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Replace dict type hint with Mapping indicating that the incoming Mapping is not mutated
  apps/utils/locust_tests/common/task_utils.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Remove common.types; use Collection in-place of CopyableEnumerable; explicitly convert/copy to list on User __init__; revert to shuffle() in high_volume_suite
  apps/utils/locust_tests/common/data.py
  apps/utils/locust_tests/common/types.py
  apps/utils/locust_tests/high_volume_suite.py
  apps/utils/locust_tests/v1/regression_suite.py
  apps/utils/locust_tests/v2/partially_adjudicated.py
  apps/utils/locust_tests/v2/partially_adjudicated_smoketest.py
  apps/utils/locust_tests/v2/regression_suite.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Replace inefficient MBIs query with index-optimized query
  apps/utils/locust_tests/common/db.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

Add excludeSAMSA tests to PACA full suite
  apps/utils/locust_tests/v2/partially_adjudicated.py
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose

BFD-2732: Remove Paca Engineering Specific IAM Group (#1836)
  ops/terraform/env/mgmt/iam.tf
  ops/terraform/services/pipeline/README.md
  ops/terraform/services/pipeline/iam.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

fix: upgrade org.hibernate.validator:hibernate-validator from 8.0.0.Final to 8.0.1.Final
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade org.apache.maven.plugin-tools:maven-plugin-annotations from 3.8.2 to 3.9.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade org.flywaydb:flyway-core from 9.16.1 to 9.20.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade org.glassfish.jaxb:jaxb-runtime from 2.3.1 to 2.3.8
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade org.glassfish.jaxb:jaxb-runtime from 2.3.1 to 2.3.8 (#1863)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade org.hibernate.validator:hibernate-validator from 8.0.0.Final to 8.0.1.Final (#1860)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

ensure task transformers protects vs. cross thread changes
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PatientClaimsEobTaskTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientClaimsEobTaskTransformer.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

small fixes
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/main/java/gov/cms/bfd/pipeline/sharedutils/TransactionManager.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

add JIRA ticket 2815 bug fix TODO
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

mvn fmt
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2814: Remove AWS Credential Dependencies from GHA (#1856)
  .github/workflows/ci-java.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

add convenience method to determine if SAMHSA filtering was enabled; tests modified to verify the new method
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PatientClaimsEobTaskTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientClaimsEobTaskTransformer.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @lsmitchell @mjburling @brianburton 

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @lsmitchell @mjburling
/ops @keithdadkins @mjburling @malessi @billie-rose
/apps @mackec1 @mjburling @lsmitchell @brianburton

# BFD Performance Testing Utilities
/apps/utils/locust_tests @lsmitchell @mjburling @malessi @billie-rose

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @lsmitchell @mjburling @malessi @billie-rose

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling
