Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dtisza1, @karlmdavis, @RickHawesUSDS, @jzulim, @njdister

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update Contributing.md
  CONTRIBUTING.md
Owners: none

Update ReadMe.md
  README.md
Owners: none

Added bfd contribution diagram
  .gitattributes
  docs/BFDContributionDiagram.png
Owners: none

added assets folder
  docs/assets/BFDContributionDiagram.png
Owners: none

Added image
  CONTRIBUTING.md
Owners: none

Moved image
  CONTRIBUTING.md
Owners: none

Update README.md
  README.md
Owners: none

Updated Read Me
  README.md
Owners: none

Updated contributing for window env
  CONTRIBUTING.md
Owners: none

Update read me
  README.md
Owners: none

Added new diagram:
  docs/assets/BFDContributionDiagram.png
Owners: none

Add manifest for mct update-4 (#235)
  apps/bfd-model/bfd-model-rif-samples/src/main/resources/rif-static-samples/sample-mct-update-4-manifest.xml
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Replace double quotes with single quotes inside dict reference
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Changes to image
  apps/bfd-server/pom.xml
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Images to docs/asset/
  .gitattributes
  docs/assets/BFDContributionDiagram.png
Owners: none

Add dual_01..dual_12 and rfnrc-Yr to coverage.
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CoverageTransformer.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CoverageTransformerTest.java
  apps/bfd-server/dev/api-changelog.md
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Add readme
  ops/ccs-ops-misc/restore-aurora-snapshot/README.md
Owners: @jzulim, @njdister

Updating test resources for coverage
  apps/bfd-server/bfd-server-war/src/test/resources/endpoint-responses/coverageRead.json
  apps/bfd-server/bfd-server-war/src/test/resources/endpoint-responses/coverageSearchByPatientId.json
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Update readme
  ops/ccs-ops-misc/restore-aurora-snapshot/README.md
Owners: @jzulim, @njdister

Revert "Updating test resources for coverage"
  apps/bfd-server/bfd-server-war/src/test/resources/endpoint-responses/coverageRead.json
  apps/bfd-server/bfd-server-war/src/test/resources/endpoint-responses/coverageSearchByPatientId.json
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Updating Coverage endpoint resources for tests
  apps/bfd-server/bfd-server-war/src/test/resources/endpoint-responses/coverageRead.json
  apps/bfd-server/bfd-server-war/src/test/resources/endpoint-responses/coverageSearchByPatientId.json
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Typo in changelog
  apps/bfd-server/dev/api-changelog.md
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Add deployment information runbook
  ops/ccs-ops-misc/DEPLOY-INFO.md
Owners: @jzulim, @njdister

Resize section headers
  ops/ccs-ops-misc/DEPLOY-INFO.md
Owners: @jzulim, @njdister

Add example tags
  ops/ccs-ops-misc/DEPLOY-INFO.md
Owners: @jzulim, @njdister

Change doc name
  ops/ccs-ops-misc/DEPLOY-INFO.md
Owners: @jzulim, @njdister

Testing HAPI 5
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/utils/EndpointJsonResponseComparatorIT.java
  apps/bfd-server/pom.xml
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

UPgraded to version 5.0.1
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/utils/EndpointJsonResponseComparatorIT.java
  apps/bfd-server/pom.xml
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@karlmdavis @dtisza1

/rfcs @karlmdavis @RickHawesUSDS

/ops @jzulim @njdister

/apps @karlmdavis @RickHawesUSDS @dtisza1
