Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @mjburling, @brianburton, @brandoncruz3, @mackec1, @malessi, @billie-rose

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @mjburling @brianburton @brandoncruz3

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @mjburling @brandoncruz3
/ops @keithdadkins @mjburling @malessi @billie-rose @brandoncruz3
/apps @mackec1 @mjburling @brianburton @brandoncruz3

# BFD Performance Testing Utilities
/apps/utils/locust_tests @mjburling @malessi @billie-rose @brandoncruz3 

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @mjburling @malessi @billie-rose @brandoncruz3

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose @brandoncruz3

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling @brandoncruz3

Removed closeEntry method call in extract file & DUC ref
  apps/bfd-data-fda/src/main/java/gov/cms/bfd/data/fda/utility/DataUtilityCommons.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

Production VPC
  docs/diagrams/infrastructure/bfd_prod_vpc.py
  docs/diagrams/infrastructure/out/BFD FHIR Service - Production.png
Owners: none

Adding Layers
  docs/assets/fhir-resource-ingestion-digestion-diagrams/bfd-resource-digestion.plantuml
  docs/diagrams/infrastructure/bfd_prod_vpc.py
  docs/diagrams/infrastructure/out/BFD FHIR Service - Production VPC.png
  docs/diagrams/infrastructure/out/BFD FHIR Service - Production.png
Owners: none

BFD-3254: Handle Exception thrown by GetWriter in SampleServlet
  apps/bfd-server/bfd-server-launcher-sample/src/main/java/gov/cms/bfd/server/launcher/sample/SampleServlet.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

update flyway version identifier
  apps/bfd-model/bfd-model-rif/src/main/resources/db/migration/V116__Find_Beneficiary_Identifier_Function.sql
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

update comment to match flyway version change
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

fix comment referencing wrong flyway version number
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

minor comment reformatting of list
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

mvn format changes
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

[maven-release-plugin] prepare release 2.103.0
  apps/bfd-data-fda/pom.xml
  apps/bfd-data-npi/pom.xml
  apps/bfd-db-migrator/pom.xml
  apps/bfd-model/bfd-model-codebook-data/pom.xml
  apps/bfd-model/bfd-model-codebook-library/pom.xml
  apps/bfd-model/bfd-model-codebook-plugin/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-library/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/pom.xml
  apps/bfd-model/bfd-model-rda/pom.xml
  apps/bfd-model/bfd-model-rif-samples/pom.xml
  apps/bfd-model/bfd-model-rif/pom.xml
  apps/bfd-model/pom.xml
  apps/bfd-ops/pom.xml
  apps/bfd-pipeline/bfd-pipeline-app/pom.xml
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-bridge/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-grpc-apps/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/pom.xml
  apps/bfd-pipeline/bfd-pipeline-shared-test-utils/pom.xml
  apps/bfd-pipeline/bfd-pipeline-shared-utils/pom.xml
  apps/bfd-pipeline/pom.xml
  apps/bfd-server/bfd-server-docs/pom.xml
  apps/bfd-server/bfd-server-image/pom.xml
  apps/bfd-server/bfd-server-launcher-sample/pom.xml
  apps/bfd-server/bfd-server-launcher/pom.xml
  apps/bfd-server/bfd-server-shared-utils/pom.xml
  apps/bfd-server/bfd-server-war/pom.xml
  apps/bfd-server/pom.xml
  apps/bfd-shared-test-utils/pom.xml
  apps/bfd-shared-utils/pom.xml
  apps/pom.xml
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

[maven-release-plugin] prepare for next development iteration
  apps/bfd-data-fda/pom.xml
  apps/bfd-data-npi/pom.xml
  apps/bfd-db-migrator/pom.xml
  apps/bfd-model/bfd-model-codebook-data/pom.xml
  apps/bfd-model/bfd-model-codebook-library/pom.xml
  apps/bfd-model/bfd-model-codebook-plugin/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-library/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/pom.xml
  apps/bfd-model/bfd-model-rda/pom.xml
  apps/bfd-model/bfd-model-rif-samples/pom.xml
  apps/bfd-model/bfd-model-rif/pom.xml
  apps/bfd-model/pom.xml
  apps/bfd-ops/pom.xml
  apps/bfd-pipeline/bfd-pipeline-app/pom.xml
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-bridge/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-grpc-apps/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/pom.xml
  apps/bfd-pipeline/bfd-pipeline-shared-test-utils/pom.xml
  apps/bfd-pipeline/bfd-pipeline-shared-utils/pom.xml
  apps/bfd-pipeline/pom.xml
  apps/bfd-server/bfd-server-docs/pom.xml
  apps/bfd-server/bfd-server-image/pom.xml
  apps/bfd-server/bfd-server-launcher-sample/pom.xml
  apps/bfd-server/bfd-server-launcher/pom.xml
  apps/bfd-server/bfd-server-shared-utils/pom.xml
  apps/bfd-server/bfd-server-war/pom.xml
  apps/bfd-server/pom.xml
  apps/bfd-shared-test-utils/pom.xml
  apps/bfd-shared-utils/pom.xml
  apps/pom.xml
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

add </li> to javadoc list
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

javadoc changes performed by mvn format
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-3253: Resolve zipSlip vulnerability re to SQ:s6096 (#2185)
  apps/bfd-data-fda/src/main/java/gov/cms/bfd/data/fda/utility/DataUtilityCommons.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

Encode test configuration
  ops/terraform/services/base/values/test.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @brandoncruz3

Encode global prod configuration for outbound
  ops/terraform/services/base/values/prod.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @brandoncruz3

BFD-3274: Encode global BFD EFT Outbound configuration (#2193)
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @brandoncruz3

BFD-3255: Disable Access to external entities in XML parsing
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/MavenUtils.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

fix comment to reference correct psql function
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/QueryLoggingListener.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-3254: Handle Exception thrown by GetWriter in SampleServlet (#2191)
  apps/bfd-server/bfd-server-launcher-sample/src/main/java/gov/cms/bfd/server/launcher/sample/SampleServlet.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

fix spelling error
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/PatientE2EBase.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

Update apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/CommonQueries.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-3158: Duplicate New SSM Parameters (#2160)
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @brandoncruz3

BFD-2967 reworked, added some basic testing
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/CleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaFissClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaMcsClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJobTest.java
  apps/bfd-pipeline/bfd-pipeline-shared-test-utils/src/main/java/gov/cms/bfd/pipeline/CleanupTestUtils.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-2967 reworked delete queries.
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaFissClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaMcsClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJobTest.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-2967 addl cleanup from testing, plus PR comments
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
  apps/bfd-pipeline/bfd-pipeline-app/src/test/java/gov/cms/bfd/pipeline/app/AppConfigurationTest.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaFissClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadOptions.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaMcsClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJobTest.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/RdaFissClaimCleanupJobTest.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/RdaMcsClaimCleanupJobTest.java
  apps/bfd-pipeline/bfd-pipeline-shared-test-utils/src/main/java/gov/cms/bfd/pipeline/CleanupTestUtils.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-2967 Add old claim deletion job, initial check-in prior to testing
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractRdaLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/CleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaFissClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaFissClaimLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadOptions.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaMcsClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaMcsClaimLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/AbstractRdaLoadJobTest.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-2967 updates for PR comments.
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
  apps/bfd-pipeline/bfd-pipeline-app/src/test/java/gov/cms/bfd/pipeline/app/AppConfigurationTest.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJobTest.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

BFD-2967 cleanup issues found during local testing
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/AbstractRdaLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaFissClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaMcsClaimCleanupJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/AbstractCleanupJobTest.java
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3

Creation of pngs for JOA presentation
  docs/assets/fhir-resource-ingestion-digestion-diagrams/bfd-pipeline-ccw-ingestion.png
  docs/assets/fhir-resource-ingestion-digestion-diagrams/bfd-pipeline-rda-ingestion.png
Owners: none

BFD-2967 added config settings
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @brandoncruz3

Another PNG
  docs/assets/fhir-resource-ingestion-digestion-diagrams/bfd-resource-digestion.png
Owners: none

BFD-2967 Updated config keys
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
Owners: @mackec1, @mjburling, @brianburton, @brandoncruz3, @keithdadkins, @malessi, @billie-rose

Update Prod VPC diagram legend
  docs/diagrams/infrastructure/bfd_prod_vpc.py
  docs/diagrams/infrastructure/out/BFD FHIR Service - Production VPC.png
Owners: none

Update README and example
  docs/diagrams/README.md
  docs/diagrams/example/example_diagram.py
  docs/diagrams/example/web_service.png
  docs/diagrams/example/web_service_diagram.png
Owners: none
