Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @lsmitchell, @mjburling, @brianburton, @mackec1, @malessi, @billie-rose

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @lsmitchell @mjburling @brianburton 

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @lsmitchell @mjburling
/ops @keithdadkins @mjburling @malessi @billie-rose
/apps @mackec1 @mjburling @lsmitchell @brianburton

# BFD Performance Testing Utilities
/apps/utils/locust_tests @lsmitchell @mjburling @malessi @billie-rose

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @lsmitchell @mjburling @malessi @billie-rose

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling

Restores sometimes necessary AWS SDK overrides.
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/config/AwsClientConfig.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2841: Add Threads to pre-push Hook (#1881)
  .github/scripts/pre-push.sh
Owners: none

[Snyk] Upgrade com.newrelic.agent.java:newrelic-agent from 8.4.0 to 8.5.0 (#1886)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

.
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/DatabaseUtils.java
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
  ops/terraform/services/server/modules/bfd_server_asg/scripts/rds-cluster-config.sh
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton, @keithdadkins, @malessi, @billie-rose

.
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
  ops/terraform/services/server/modules/bfd_server_asg/scripts/rds-cluster-config.sh
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2842: colima compatibility and images in pom (#1885)
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsProgressReporter.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsProgressReporterTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerExecutor.java
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/AbstractLocalStackTest.java
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/DatabaseTestUtils.java
  apps/bfd-shared-utils/pom.xml
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/config/AwsClientConfig.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/DatabaseMigrationProgress.java
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update scaling policies to use network traffic as the metric for scale-in/out
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Increase health check grace period to 2x instance warmup
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Base the various step scaling adjustments on the number of AZs
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Reduce the instance warmup to 90 seconds for all environments
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Adjust scaling policy step adjustments and alarm thresholds
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Reduce desired and minimum capacity to 3 for all environments; reduce maximum capacity to 12 for all environments; reduce warm pool maximums to 9 for all environments
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Add restAssured to pom, add initial test class, figure out cert nonsense
  apps/bfd-server/bfd-server-war/pom.xml
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerExecutor.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerRequiredTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitEndpointE2E.java
  apps/bfd-server/bfd-server-war/src/test/resources/certs/test-keystore.p12
  apps/bfd-server/bfd-server-war/src/test/resources/certs/test-truststore.jks
  apps/bfd-server/dev/ssl-stores/test-keystore.p12
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

cleanup
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

sample 400, needs correcting
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerRequiredTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitEndpointE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

cleanup
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

rename file, add tests
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitE2E.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitEndpointE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

final cleanup
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

add more tests
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix import
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitE2E.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

hackathon scripts to vett postgres database partitioning
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/bene_monthly_upsert_example.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/eob_carrier_claims_compare.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/partition_beneficiary_monthly.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/partition_carrier_claims.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/partition_partd_events.sql
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fixes complete
  apps/bfd-server/dev/bfd-data-dictionary/data/V1/0054_clm_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V1/0318_pde_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0015_carr_clm_pmt_dnl_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0032_clm_disp_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0049_clm_from_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0054_clm_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0056_clm_line_num.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0099_clm_thru_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0125_hcpcs_1st_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0126_hcpcs_2nd_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0127_hcpcs_3rd_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0128_hcpcs_4th_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0129_hcpcs_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0131_icd_dgns_cd1.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0257_line_1st_expns_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0258_line_alowd_chrg_amt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0260_line_bene_prmry_pyr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0263_line_cms_type_srvc_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0269_line_icd_dgns_vrsn_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0270_line_last_expns_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0271_line_nch_pmt_amt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0274_line_place_of_srvc_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0276_line_prcsg_ind_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0294_nch_clm_type_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0307_nch_wkly_proc_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0318_pde_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0358_prvdr_num.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0362_prvdr_state_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0391_rev_cntr_prvdr_pmt_amt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0629_clm_uncompd_care_pmt_amt.json
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Replace literal scientific notation strings with format() and integer math; add comments explaining non-obvious behaviors
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Use integer math to make alarm thresholds more obvious; include unit for alarm thresholds as comments
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2727: Address Data Dictionary Content Issues (#1889)
  apps/bfd-server/dev/bfd-data-dictionary/data/V1/0054_clm_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V1/0318_pde_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0015_carr_clm_pmt_dnl_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0032_clm_disp_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0049_clm_from_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0054_clm_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0056_clm_line_num.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0099_clm_thru_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0125_hcpcs_1st_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0126_hcpcs_2nd_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0127_hcpcs_3rd_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0128_hcpcs_4th_mdfr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0129_hcpcs_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0131_icd_dgns_cd1.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0257_line_1st_expns_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0258_line_alowd_chrg_amt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0260_line_bene_prmry_pyr_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0263_line_cms_type_srvc_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0269_line_icd_dgns_vrsn_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0270_line_last_expns_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0271_line_nch_pmt_amt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0274_line_place_of_srvc_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0276_line_prcsg_ind_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0294_nch_clm_type_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0307_nch_wkly_proc_dt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0318_pde_id.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0358_prvdr_num.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0362_prvdr_state_cd.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0391_rev_cntr_prvdr_pmt_amt.json
  apps/bfd-server/dev/bfd-data-dictionary/data/V2/0629_clm_uncompd_care_pmt_amt.json
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2826: Hackathon-SQL-to-setup-postgre-db-partitioning (#1890)
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/bene_monthly_upsert_example.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/eob_carrier_claims_compare.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/partition_beneficiary_monthly.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/partition_carrier_claims.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-2686-Hackathon-Postgres-Partitioning/partition_partd_events.sql
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

init
  ops/terraform/modules/resources/s3/main.tf
  ops/terraform/modules/resources/s3_pii/main.tf
  ops/terraform/modules/stateful/main.tf
  ops/terraform/modules/stateless/main.tf
  ops/terraform/services/common/s3.tf
  ops/terraform/services/eft/main.tf
  ops/terraform/services/pipeline/iam.tf
  ops/terraform/services/pipeline/s3-temporary.tf
  ops/terraform/services/pipeline/s3.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2804: Fix BFD Server scaling policies (#1887)
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

fix: upgrade io.grpc:grpc-protobuf from 1.56.1 to 1.57.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2780: Hackathon work with RestAssured for EOB E2E (#1888)
  apps/bfd-server/bfd-server-war/pom.xml
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerExecutor.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerRequiredTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/ExplanationOfBenefitE2E.java
  apps/bfd-server/bfd-server-war/src/test/resources/certs/test-keystore.p12
  apps/bfd-server/bfd-server-war/src/test/resources/certs/test-truststore.jks
  apps/bfd-server/dev/ssl-stores/test-keystore.p12
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade io.grpc:grpc-netty-shaded from 1.56.1 to 1.57.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Upgrade grpc java to 1.57.2
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade io.grpc:grpc-netty-shaded from 1.56.1 to 1.57.2 (#1893)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade org.apache.maven:maven-core from 3.9.3 to 3.9.4
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Increase health check grace period to 600 seconds
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update ELB healthcheck thresholds to use better values
  ops/terraform/services/server/modules/bfd_server_lb/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Increase unhealthy threshold to 5 consecutive checks to ensure that the initial check does not erroneously mark initializing servers as unhealthy
  ops/terraform/services/server/modules/bfd_server_lb/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

fix: upgrade org.apache.maven:maven-plugin-api from 3.9.3 to 3.9.4
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Enable IAM RDS auth for bfd server
  ops/ansible/roles/bfd-server/README.md
  ops/ansible/roles/bfd-server/templates/bfd-server.sh.j2
  ops/ansible/roles/bfd-server/test/test_basic.yml
  ops/terraform/services/server/README.md
  ops/terraform/services/server/data-sources.tf
  ops/terraform/services/server/main.tf
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
  ops/terraform/services/server/modules/bfd_server_asg/templates/fhir_server.tpl
  ops/terraform/services/server/modules/bfd_server_iam/data-sources.tf
  ops/terraform/services/server/modules/bfd_server_iam/main.tf
  ops/terraform/services/server/modules/bfd_server_iam/variables.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Enable IAM RDS auth for db migrator
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/test/test_basic.yml
  ops/terraform/services/migrator/README.md
  ops/terraform/services/migrator/data-sources.tf
  ops/terraform/services/migrator/iam.tf
  ops/terraform/services/migrator/main.tf
  ops/terraform/services/migrator/user-data.tftpl
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose
