Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbrunefearless, @mackec1, @keithdadkins, @rtravitz, @jzulim, @njdister, @msnook, @orenfromberg, @lailasharshar, @nflearl, @wnyffenegger, @dtisza1, @ericbuckley, @brianburton

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz

#BFD Pipeline and Server Codeowners
/rfcs @jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz
/ops @jzulim @keithdadkins @njdister @rtravitz
/apps @jzulim @cbrunefearless @mackec1 @rtravitz

#BFD Insights Codeowners
/insights @jzulim @keithdadkins @njdister @mackec1 @rtravitz

#BCDA Insights Codeowners
/insights/terraform/projects/bcda @msnook @orenfromberg

#AB2D Insights Codeowners
/insights/terraform/projects/ab2d @lailasharshar @nflearl @wnyffenegger

#BB2 Insights Codeowners
/insights/terraform/projects/bb2 @dtisza1 @njdister @jzulim

#DCGEO Pipeline Codeowners
/apps/bfd-pipeline/bfd-pipeline-rda-grpc @ericbuckley @brianburton

remove idempotent since CCW_LOAD_TEMP records are noew being deleted
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Changed Beneficiary.beneficiaryMonthly from Eager to Lazy load to prevent every Beneficiary search result from also loading the BeneficiaryMonthly data for every Beneficiary.
  apps/bfd-model/bfd-model-codegen/src/main/java/gov/cms/bfd/model/codegen/RifLayoutsProcessor.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

fix set -e; fixes per shellcheck
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_do_update.sh
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[DCGEO-62] Limit scope of lombok
  apps/bfd-model/bfd-model-rda/pom.xml
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[BFD-723] Add single instance load test instructions (#589)
  ops/ccs-ops-misc/load-test/README.md
  ops/ccs-ops-misc/load-test/locustfile.py
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

[BFD-866] Modify CCW load fix-up to use combination of shell and stored function to mitigate out-of-memory issue" (#605)
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_create_update_proc_and_function.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_do_update.sh
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/07_cleanup_triggers.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

don't error exit when no EFS EFT file systems found
  ops/ansible/roles/bfd-pipeline/templates/mount-eft-efs-file-systems.sh.j2
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

only run workflows as needed
  .github/workflows/ci-java.yml
  .github/workflows/ci-terraform.yml
Owners: none

[BFD-724] Send custom request headers to New Relic (#549)
  ops/ansible/roles/bfd-server/tasks/install.yml
  ops/ansible/roles/bfd-server/templates/newrelic.yml.j2
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz
