Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbrunefearless, @mackec1, @keithdadkins, @rtravitz, @jzulim, @njdister, @msnook, @orenfromberg, @lailasharshar, @nflearl, @wnyffenegger, @dtisza1, @ericbuckley, @brianburton

[BFD-748] Add Unit Tests to SNF EOB Profile (#569)
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/SNFClaimTransformerV2Test.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Implements changes required to integrate expanded PipelineJob interface.
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/DcGeoRdaLoadJob.java
Owners: @ericbuckley, @brianburton

[BFD-746] Add Unit Tests to PDE EOB Profile (#556)
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/PartDEventTransformerV2Test.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[BFD-749] Add Unit Tests to HHA EOB Profile (#571)
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/HHAClaimTransformerV2Test.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Added a script to delete the negative claim ids in the three different claim types, Carrier, Inpatient, and Outpatient
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/Delete_Synthetic_Negative_Claims.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

WIP partner eft mount helper script
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

WIP partner eft mount helper script
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

adds mountpoint ownership and perms
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

cleanup variables
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

add command line args, help/usage, and fix symlink
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

more usage
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Add partdevents
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/Delete_Synthetic_Negative_Claims.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

merge master
  ops/terraform/env/prod-sbx/stateful/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

adding env variables for mpm_rda_cidr_block
  ops/terraform/env/prod-sbx/stateless/main.tf
  ops/terraform/env/prod-sbx/stateless/variables.tf
  ops/terraform/env/prod/stateless/main.tf
  ops/terraform/env/prod/stateless/variables.tf
  ops/terraform/env/test/stateless/main.tf
  ops/terraform/env/test/stateless/variables.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

remove key admin from policy (it's managed by kms-key-admins group)
  ops/terraform/modules/resources/eft_efs/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Integrates RDA load job into pipeline.
  apps/bfd-pipeline/bfd-pipeline-app/pom.xml
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/PipelineApplication.java
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/PipelineManager.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/ConfigUtils.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadJob.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadOptions.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/RdaSource.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/main/java/gov/cms/bfd/pipeline/rda/grpc/source/GrpcRdaSource.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/RdaLoadJobTest.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz, @ericbuckley, @brianburton

[Snyk] Security upgrade org.apache.poi:poi from 4.0.1 to 4.1.1 (#445)
  apps/bfd-model/bfd-model-codegen/pom.xml
  apps/bfd-model/bfd-model-rif/pom.xml
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

WIP minimal efs perms for debugging + some tf formatting
  ops/terraform/env/prod-sbx/stateful/variables.tf
  ops/terraform/env/prod/stateful/variables.tf
  ops/terraform/env/test/stateful/variables.tf
  ops/terraform/modules/resources/eft_efs/main.tf
  ops/terraform/modules/stateful/variables.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Add initial loadtest instructions
  ops/ccs-ops-misc/loadtest/README.md
  ops/ccs-ops-misc/loadtest/locustfile.py
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Change to v1 for patient request
  ops/ccs-ops-misc/loadtest/locustfile.py
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Change directory name to two words
  ops/ccs-ops-misc/load-test/README.md
  ops/ccs-ops-misc/load-test/locustfile.py
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

move all scripts to more permanent location
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/01_create_ccw_load_temp_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/02_ccw_setup_bene_monthly_data_fix.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/03_verify_setup.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/04a_load_test_data.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/04b_load_2019_data.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/04c_load_2020_data.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_cleanup_triggers.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/test/ccw_columns_from_email.txt
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/test/ccw_load_test_data.csv
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Fix minor spelling and/or case errors
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Adds schema configuration prior to Flyway.clean() call.
  apps/bfd-model/bfd-model-rif/src/main/java/gov/cms/bfd/model/rif/schema/DatabaseTestHelper.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

remove email text
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/test/ccw_columns_from_email.txt
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Add IF logic back in for checking of null values
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Added new sql file for comparing datefrom and datethrough to lastupdated (#568)
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/DateThrough_dateFrom_greater_than_lastupdated.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

adding ssh access for eric.buckley, brian.burton and kyle.robbins
  ops/ansible/playbooks-ccs/vars/000_cross_env_vars.yml
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

policy edits
  ops/terraform/modules/resources/eft_efs/main.tf
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

note about sudo
  ops/ccs-ops-misc/eft-efs/mount-eft-efs.sh
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

Fix IF statement to not include bene_id and year
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Fixes AppConfiguration being non Serializable.
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

Adds unit tests.
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/source/GrpcResponseStreamTest.java
Owners: @ericbuckley, @brianburton

[DCGEO-48] Initial skeleton code for new claim fhir resource
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/PreAdjClaimResponseTypeTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/PreAdjClaimTypeTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjClaimResponseTypeV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjClaimTypeV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjFissClaimResponseTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjFissClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjMcsClaimResponseTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjMcsClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResponseResourceProvider.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResourceProviderTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResponseResourceProviderTest.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

[DCGEO-48] Formatting updates
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/PreAdjClaimResponseTypeTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/PreAdjClaimTypeTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjClaimResponseTypeV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjClaimTypeV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjFissClaimResponseTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjFissClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjMcsClaimResponseTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/PreAdjMcsClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResponseResourceProvider.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResourceProviderTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/R4ClaimResponseResourceProviderTest.java
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

adding ssh access for eric.buckley, brian.burton and kyle.robbins (#591)
  ops/ansible/playbooks-ccs/vars/000_cross_env_vars.yml
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

[BFD-766] - Fix BeneficairyMonthly table with custom CCW data feed(s) (#567)
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/01_create_ccw_load_temp_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/02_ccw_setup_bene_monthly_data_fix.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/03_verify_setup.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/04a_load_test_data.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/04b_load_2019_data.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/04c_load_2020_data.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/05_process_ccw_table.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/06_cleanup_triggers.sql
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/Playbook.txt
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-766-fix-beneficiary-monthly-data/test/ccw_load_test_data.csv
  sql/Playbook.txt
  sql/bene_monthly_audit.sql
  sql/ccw_load_delete_trigger.sql
  sql/ccw_load_insert_trigger.sql
  sql/ccw_load_temp.sql
  sql/ccw_load_temp_via_copy.sql
  sql/ccw_load_temp_via_copy_nohdr.sql
  sql/ccw_load_update_trigger.sql
  sql/process_ccw_table.sql
  sql/run_ccw_load.sql
  sql/test/ccw_load_columns.csv
  sql/test/ccw_load_columns_vert.csv
  sql/test/ccw_load_test_data.csv
  sql/test/ccw_load_test_data_nohdr.csv
  sql/test/ccw_load_test_data_nohdr_quotes.csv
  sql/track_bene_monthly_change_func.sql
  sql/update_bene_monthly_proc.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

perform COMMIT every 10,000 rcds; minimize to_date processing
  apps/bfd-model/bfd-model-rif/src/main/resources/db/scripts/BFD-854-Fix-PartD-Enrollment-Smaller-Transactions/05_process_ccw_table.sql
Owners: @jzulim, @cbrunefearless, @mackec1, @rtravitz

fix: ops/ansible/roles/bfd-server/requirements.freeze.txt to reduce vulnerabilities
  ops/ansible/roles/bfd-server/requirements.freeze.txt
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

fix: ops/ansible/playbooks-ccs/requirements.txt to reduce vulnerabilities
  ops/ansible/playbooks-ccs/requirements.txt
Owners: @jzulim, @keithdadkins, @njdister, @rtravitz

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz

#BFD Pipeline and Server Codeowners
/rfcs @jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz
/ops @jzulim @keithdadkins @njdister @rtravitz
/apps @jzulim @cbrunefearless @mackec1 @rtravitz

#BFD Insights Codeowners
/insights @jzulim @keithdadkins @njdister @mackec1 @rtravitz

#BCDA Insights Codeowners
/insights/terraform/projects/bcda @msnook @orenfromberg

#AB2D Insights Codeowners
/insights/terraform/projects/ab2d @lailasharshar @nflearl @wnyffenegger

#BB2 Insights Codeowners
/insights/terraform/projects/bb2 @dtisza1 @njdister @jzulim

#DCGEO Pipeline Codeowners
/apps/bfd-pipeline/bfd-pipeline-rda-grpc @ericbuckley @brianburton
