Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @lsmitchell, @mjburling, @brianburton, @mackec1, @malessi, @billie-rose

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @lsmitchell @mjburling @brianburton 

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @lsmitchell @mjburling
/ops @keithdadkins @mjburling @malessi @billie-rose
/apps @mackec1 @mjburling @lsmitchell @brianburton

# BFD Performance Testing Utilities
/apps/utils/locust_tests @lsmitchell @mjburling @malessi @billie-rose

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @lsmitchell @mjburling @malessi @billie-rose

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling

Add log dependency
  apps/bfd-db-migrator/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BB2-2564: Fix insights SDK metric bug (#1877)
  insights/terraform/projects/bb2/services/analytics/modules/lambda/update_athena_metric_tables/sql_templates/template_generate_metrics_for_report_date.sql
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

BFD-2839: Upgrade Flyway Version (#1878)
  apps/bfd-db-migrator/pom.xml
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

wip
  apps/utils/locust_tests/services/server-load/controller/controller.py
  ops/ansible/roles/bfd-server-load/templates/bfd-server-load-service.sh.j2
  ops/jenkins/bfd-run-server-load/Jenkinsfile
Owners: @lsmitchell, @mjburling, @malessi, @billie-rose, @keithdadkins

Update OutpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/OutpatientClaimTransformerV2.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2841:Adds threads to PrePush Hook
  .github/scripts/pre-push.sh
Owners: none

fix: upgrade org.apache.commons:commons-lang3 from 3.12.0 to 3.13.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2741: Enable Automated Generation of Code Coverage Reports (#1858)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Works with colima.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/AbstractLocalStackTest.java
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/DatabaseTestUtils.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/config/AwsClientConfig.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

forgot these
  ops/terraform/services/server/server-load/main.tf
  ops/terraform/services/server/server-load/user-data.sh.tftpl
  ops/terraform/services/server/server-load/variables.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2818: Use maven release plugin for releases.
  apps/bfd-data-fda/pom.xml
  apps/bfd-data-npi/pom.xml
  apps/bfd-data-npi/src/main/java/gov/cms/bfd/data/npi/utility/DataUtilityCommons.java
  apps/bfd-db-migrator/pom.xml
  apps/bfd-model/bfd-model-codebook-data/pom.xml
  apps/bfd-model/bfd-model-codebook-extractor/pom.xml
  apps/bfd-model/bfd-model-codebook-library/pom.xml
  apps/bfd-model/bfd-model-codegen/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-library/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/pom.xml
  apps/bfd-model/bfd-model-dsl-codegen/pom.xml
  apps/bfd-model/bfd-model-rda/pom.xml
  apps/bfd-model/bfd-model-rif-samples/pom.xml
  apps/bfd-model/bfd-model-rif/pom.xml
  apps/bfd-model/pom.xml
  apps/bfd-ops/pom.xml
  apps/bfd-ops/src/main/assembly/tar.xml
  apps/bfd-pipeline/bfd-pipeline-app/pom.xml
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-bridge/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-grpc-apps/pom.xml
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/pom.xml
  apps/bfd-pipeline/bfd-pipeline-shared-test-utils/pom.xml
  apps/bfd-pipeline/bfd-pipeline-shared-utils/pom.xml
  apps/bfd-pipeline/pom.xml
  apps/bfd-server/bfd-server-image/pom.xml
  apps/bfd-server/bfd-server-launcher-sample/pom.xml
  apps/bfd-server/bfd-server-launcher/pom.xml
  apps/bfd-server/bfd-server-launcher/src/test/java/gov/cms/bfd/server/launcher/AppConfigurationIT.java
  apps/bfd-server/bfd-server-launcher/src/test/java/gov/cms/bfd/server/launcher/ServerTestUtils.java
  apps/bfd-server/bfd-server-shared-utils/pom.xml
  apps/bfd-server/bfd-server-war/pom.xml
  apps/bfd-server/pom.xml
  apps/bfd-shared-test-utils/pom.xml
  apps/bfd-shared-utils/pom.xml
  apps/pom.xml
  apps/utils/scripts/build-bfd
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update settings.xml and envvar expansion
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Address line-continuation typo
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Add ecr login step
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Fix arguments element
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Use test-release profile
  .github/workflows/ci-release.yml
  apps/pom.xml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @mackec1, @lsmitchell, @brianburton

re-introduce git config; add GITHUB_TOKEN envvar
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update codebook plugin to 1.0.3-SNAPSHOT
  apps/bfd-model/bfd-model-codebook-plugin/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Further maven configuration/settings updates
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Skip tests, halt git user configuration
  .github/workflows/ci-release.yml
  apps/pom.xml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @mackec1, @lsmitchell, @brianburton

Attempt push, dispatch release workflow
  .github/workflows/ci-release.yml
  apps/pom.xml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @mackec1, @lsmitchell, @brianburton

Update with threading, pushing
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Restrict to pull requests
  .github/workflows/ci-java.yml
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Adjust checkout behavior
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Target the underlying branch reference
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2598: Remove usage of ReflectionUtils (#1835)
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/README.md
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/src/main/java/gov/cms/model/dsl/codegen/plugin/GenerateEntitiesFromDslMojo.java
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/src/main/java/gov/cms/model/dsl/codegen/plugin/PoetUtil.java
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/src/main/java/gov/cms/model/dsl/codegen/plugin/model/ColumnBean.java
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/src/test/java/gov/cms/model/dsl/codegen/plugin/GenerateEntitiesFromDslMojoTest.java
  apps/bfd-model/bfd-model-dsl-codegen/bfd-model-dsl-codegen-plugin/src/test/java/gov/cms/model/dsl/codegen/plugin/PoetUtilTest.java
  apps/bfd-model/bfd-model-rif/mappings/CarrierClaim.yaml
  apps/bfd-model/bfd-model-rif/mappings/DMEClaim.yaml
  apps/bfd-model/bfd-model-rif/mappings/HHAClaim.yaml
  apps/bfd-model/bfd-model-rif/mappings/HospiceClaim.yaml
  apps/bfd-model/bfd-model-rif/mappings/InpatientClaim.yaml
  apps/bfd-model/bfd-model-rif/mappings/OutpatientClaim.yaml
  apps/bfd-model/bfd-model-rif/mappings/SNFClaim.yaml
  apps/bfd-pipeline/bfd-pipeline-ccw-rif/src/test/java/gov/cms/bfd/pipeline/ccw/rif/extract/RifFilesProcessorTest.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/ReflectionUtils.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DiagnosisUtilV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/HHAClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/HospiceClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/InpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/OutpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/SNFClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/HHAClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/HospiceClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/InpatientClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/OutpatientClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/SNFClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade org.apache.commons:commons-lang3 from 3.12.0 to 3.13.0 (#1882)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Dump default settings.xml
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Extend settings.xml to include github server id
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Dump modified settings.xml content
  .github/workflows/ci-release.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

.
  ops/ansible/roles/bfd-server-load/templates/bfd-server-load-service.sh.j2
  ops/ansible/roles/bfd-server-load/test/test_basic.yml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Tidy; remove <tag> element from scm configuration
  .github/workflows/ci-release.yml
  apps/pom.xml
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose, @mackec1, @lsmitchell, @brianburton

Update user-data.sh.tftpl
  ops/terraform/services/server/server-load/user-data.sh.tftpl
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Switches to using a normal (non-FIFO) queue for colima compatibility.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsProgressReporter.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsProgressReporterTest.java
  apps/bfd-shared-utils/pom.xml
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/DatabaseMigrationProgress.java
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Test container images are defined in pom.xml.
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/ServerExecutor.java
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/AbstractLocalStackTest.java
  apps/bfd-shared-test-utils/src/main/java/gov/cms/bfd/DatabaseTestUtils.java
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Removes unnecessary overrides.
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/config/AwsClientConfig.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update Jenkinsfile
  ops/jenkins/bfd-run-server-load/Jenkinsfile
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update DatabaseUtils.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/DatabaseUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade com.newrelic.agent.java:newrelic-agent from 8.4.0 to 8.5.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Passes image property to ITs.
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton
