Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @lsmitchell, @mjburling, @brianburton, @mackec1, @malessi, @billie-rose

.
  ops/ansible/roles/bfd-db-migrator/tasks/migrator.yml
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator.service.j2
  ops/terraform/services/base/ephemeral.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update ephemeral.tf
  ops/terraform/services/base/ephemeral.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

change tags
  insights/terraform/projects/bcda/main.tf
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

Remove tfvars dependency & use SSM ParameterStore
  insights/terraform/projects/bcda/iam.tf
  insights/terraform/projects/bcda/main.tf
  insights/terraform/projects/bcda/variables.tf
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

Fix typo
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/pipeline_metrics_repeater.py
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update Jenkinsfile
  ops/jenkins/bfd-deploy-apps/Jenkinsfile
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/AppConfiguration.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
  ops/terraform/services/migrator/terraform.tf
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton, @keithdadkins, @malessi, @billie-rose

.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/AppConfiguration.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

.
  ops/ansible/roles/bfd-db-migrator/templates/migrator-monitor.service.j2
  ops/ansible/roles/bfd-db-migrator/templates/migrator-monitor.sh.j2
  ops/terraform/services/migrator/deploy.groovy
  ops/terraform/services/migrator/terraform.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/AppConfiguration.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/SqsDao.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update AppConfiguration.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/AppConfiguration.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Bump to aws crt to 0.24.1
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix: upgrade software.amazon.awssdk.crt:aws-crt from 0.23.2 to 0.24.0
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

assume role docs
  insights/terraform/projects/bcda/README.md
  insights/terraform/projects/bcda/iam.tf
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

BFD-2806: Remove destruction protections for the ETL S3 bucket in ephemeral environments (#1908)
  ops/terraform/services/pipeline/s3.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

ensure role session name matches the aws user
  insights/terraform/projects/bcda/iam.tf
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

[Snyk] Upgrade software.amazon.awssdk.crt:aws-crt from 0.23.2 to 0.24.1 (#1891)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

[Snyk] Upgrade org.apache.maven:maven-core from 3.9.3 to 3.9.4 (#1894)
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update bfd-db-migrator-service.sh.j2
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update Jenkinsfile
  ops/jenkins/bfd-deploy-apps/Jenkinsfile
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2813: Clean up DOS Attack vector regexes in BFD Server code
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/RequestHeaders.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/StringUtils.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4PatientResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientResourceProvider.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/commons/StringUtilsTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

.
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  docs/runbooks/how-to-recover-from-migrator-failures.md
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

docs
  docs/runbooks/how-to-recover-from-migrator-failures.md
  ops/ansible/roles/bfd-db-migrator/README.md
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update deploy.groovy
  ops/terraform/services/migrator/deploy.groovy
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update main.tf
  ops/terraform/services/migrator/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

fix test
  ops/ansible/roles/bfd-db-migrator/README.md
  ops/ansible/roles/bfd-db-migrator/defaults/main.yml
  ops/ansible/roles/bfd-db-migrator/templates/bfd-db-migrator-service.sh.j2
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2813: Clean up DOS Attack vector regexes in BFD Server code (#1905)
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/RequestHeaders.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/commons/StringUtils.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/R4PatientResourceProvider.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/PatientResourceProvider.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/commons/StringUtilsTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update main.tf
  ops/terraform/services/migrator/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @lsmitchell @mjburling @brianburton 

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @lsmitchell @mjburling
/ops @keithdadkins @mjburling @malessi @billie-rose
/apps @mackec1 @mjburling @lsmitchell @brianburton

# BFD Performance Testing Utilities
/apps/utils/locust_tests @lsmitchell @mjburling @malessi @billie-rose

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @lsmitchell @mjburling @malessi @billie-rose

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling
