Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dtisza1, @karlmdavis, @RickHawesUSDS, @jzulim, @njdister

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@karlmdavis @dtisza1

/rfcs @karlmdavis @RickHawesUSDS

/ops @jzulim @njdister

/apps @karlmdavis @RickHawesUSDS @dtisza1

BLUEBUTTON-1864: Refactor medicare opt out module to support assumed writer role (#273)
  ops/terraform/env/prod-sbx/stateful/main.tf
  ops/terraform/env/prod/stateful/main.tf
  ops/terraform/env/test/stateful/main.tf
  ops/terraform/modules/resources/s3_pii/main.tf
  ops/terraform/modules/resources/s3_pii/templates/bucket-policy.json
  ops/terraform/modules/resources/s3_pii/templates/iam-writer-assume-policy.json
  ops/terraform/modules/resources/s3_pii/templates/iam-writer-policy.json
  ops/terraform/modules/resources/s3_pii/templates/kms-policy.json
  ops/terraform/modules/resources/s3_pii/variables.tf
  ops/terraform/modules/stateful/main.tf
  ops/terraform/modules/stateful/variables.tf
Owners: @jzulim, @njdister

Support test data in Glue jobs
  insights/terraform/modules/jobs/policies.tf
Owners: none

Initial BB2 setup
  insights/.gitignore
  insights/docs/bb2_notes.md
  insights/docs/core_tables.md
  insights/docs/data_organization.md
  insights/docs/index.md
  insights/scripts/bb2/apps.py
  insights/scripts/bb2/benes.csv
  insights/scripts/bb2/events.py
  insights/scripts/bb2/generate_benes.py
  insights/scripts/bb2/main.py
  insights/terraform/projects/bb2/backend.tf
  insights/terraform/projects/bb2/main.tf
Owners: none

Added a core tables doc
  insights/docs/core_tables.md
  insights/docs/index.md
Owners: none

Update on bb2 moderate bucket
  insights/terraform/projects/bb2/main.tf
Owners: none

Initial commit, add script and requirements.txt
  ops/ccs-ops-misc/restore-aurora-snapshot/requirements.txt
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Add error handling for AWS cluster and snapshot lookups
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Add more validation, prep next stage of restore
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Move confirmation out of try statement
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Changed version of hapi fihr from v4.1 to v4.2
  apps/bfd-server/pom.xml
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Changed hapi-fihr from v 4.1.0 to 4.2.0
  apps/bfd-server/pom.xml
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Add source instance data, restore cluster routine and wait
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Reorder new cluster params, first shot at instance params
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Reorder params
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

Better status reporting, fix db instance params, wait for all db instances to come online
  ops/ccs-ops-misc/restore-aurora-snapshot/restore_aurora_snapshot.py
Owners: @jzulim, @njdister

IT tests commented out
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProviderIT.java
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Roll back AWS terraform provider due to https://github.com/terraform-providers/terraform-provider-aws/issues/13236
  ops/terraform/env/prod-sbx/stateless/main.tf
  ops/terraform/env/prod/stateless/main.tf
  ops/terraform/env/test/stateless/main.tf
Owners: @jzulim, @njdister

Better tracking in comments
  ops/terraform/env/prod-sbx/stateless/main.tf
  ops/terraform/env/prod/stateless/main.tf
  ops/terraform/env/test/stateless/main.tf
Owners: @jzulim, @njdister

BFD-211: Fix for broken AWS terraform provider >= 2.61.0 (#286)
  ops/terraform/env/prod-sbx/stateless/main.tf
  ops/terraform/env/prod/stateless/main.tf
  ops/terraform/env/test/stateless/main.tf
Owners: @jzulim, @njdister

Fix logrotate for selinux
  ops/ansible/roles/bfd-server/tasks/install.yml
Owners: @jzulim, @njdister

Refactor alarms to use smaller periods with more frequent datapoints over a longer evaluation period
  ops/terraform/modules/resources/bfd_server_alarm/main.tf
  ops/terraform/modules/resources/bfd_server_alarm/variables.tf
  ops/terraform/modules/stateless/main.tf
Owners: @jzulim, @njdister

Fix copypasta error
  ops/terraform/modules/resources/bfd_pipeline/main.tf
Owners: @jzulim, @njdister

Adjustments based on analyzing our traffic
  ops/terraform/modules/stateless/main.tf
Owners: @jzulim, @njdister

Adjust alarm text for pipeline errors
  ops/terraform/modules/resources/bfd_pipeline/main.tf
Owners: @jzulim, @njdister

Add data set failed metric and alarm for pipeline, relax threshold on standard error alerting
  ops/terraform/modules/resources/bfd_pipeline/main.tf
Owners: @jzulim, @njdister

Deprecate classic HTTP 500 alarm for expression HTTP 500 alarm
  ops/terraform/modules/stateless/main.tf
Owners: @jzulim, @njdister

Adjust eval periods to be consistent, adjust thresholds for MCT and All partners (bulk)
  ops/terraform/modules/stateless/main.tf
Owners: @jzulim, @njdister

Fix typo
  ops/terraform/modules/resources/bfd_pipeline/main.tf
Owners: @jzulim, @njdister

IT tests commented out
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/ExplanationOfBenefitResourceProviderIT.java
Owners: @karlmdavis, @RickHawesUSDS, @dtisza1

Sets the local timezone to UTC on platinum builds.
  ops/ansible/playbooks-ccs/roles/rhel_prep/tasks/main.yml
  ops/ansible/playbooks-ccs/roles/rhel_prep/tasks/ntp.yml
Owners: @jzulim, @njdister

Adds a timestamp to user_data output.
  ops/terraform/modules/resources/templates/fhir_server.tpl
  ops/terraform/modules/resources/templates/pipeline_server.tpl
Owners: @jzulim, @njdister

Remove invalid unit
  ops/terraform/modules/stateless/main.tf
Owners: @jzulim, @njdister

Use more specific context path
  ops/ansible/roles/bfd-server/tasks/install.yml
Owners: @jzulim, @njdister

Add prod role for AB2D
  ops/terraform/env/prod/stateful/main.tf
Owners: @jzulim, @njdister

Add prod role for AB2D (#288)
  ops/terraform/env/prod/stateful/main.tf
Owners: @jzulim, @njdister

Move back to classic HTTP 500 alarm for now due to inability to evaluate metric math during periods of low traffic/samples
  ops/terraform/modules/stateless/main.tf
Owners: @jzulim, @njdister

BFD-210: Fix broken log rotation due to selinux (#285)
  ops/ansible/roles/bfd-server/tasks/install.yml
Owners: @jzulim, @njdister

BFD-168: Refactor CloudWatch metric alarms (#274)
  ops/terraform/modules/resources/bfd_pipeline/main.tf
  ops/terraform/modules/resources/bfd_server_alarm/main.tf
  ops/terraform/modules/resources/bfd_server_alarm/variables.tf
  ops/terraform/modules/stateless/main.tf
Owners: @jzulim, @njdister

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none
