Repository CMSgov/beneficiary-fhir-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keithdadkins, @lsmitchell, @mjburling, @brianburton, @mackec1, @malessi, @billie-rose

BFD-2854: Server ASG health check grace period is too low and ELB healthcheck configuration is not ideal (#1895)
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
  ops/terraform/services/server/modules/bfd_server_lb/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

add terraform docs to bcda insights project
  .gitignore
  insights/terraform/projects/bcda/.terraform-docs.yml
  insights/terraform/projects/bcda/README.md
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

BFD-2845: RDS/IAM authentication (#1896)
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/AppConfiguration.java
  apps/bfd-db-migrator/src/main/java/gov/cms/bfd/migrator/app/MigratorApp.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/MigratorAppIT.java
  apps/bfd-db-migrator/src/test/java/gov/cms/bfd/migrator/app/SqsDaoIT.java
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/AppConfiguration.java
  apps/bfd-pipeline/bfd-pipeline-app/src/main/java/gov/cms/bfd/pipeline/app/PipelineApplication.java
  apps/bfd-pipeline/bfd-pipeline-app/src/test/java/gov/cms/bfd/pipeline/app/AppConfigurationTest.java
  apps/bfd-pipeline/bfd-pipeline-app/src/test/java/gov/cms/bfd/pipeline/app/PipelineApplicationIT.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc-apps/README.md
  apps/bfd-pipeline/bfd-pipeline-rda-grpc-apps/src/main/java/gov/cms/bfd/pipeline/rda/grpc/apps/DirectRdaLoadApp.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc-apps/src/main/java/gov/cms/bfd/pipeline/rda/grpc/apps/LoadRdaJsonApp.java
  apps/bfd-pipeline/bfd-pipeline-rda-grpc/src/test/java/gov/cms/bfd/pipeline/rda/grpc/RdaPipelineTestUtils.java
  apps/bfd-pipeline/bfd-pipeline-shared-test-utils/src/main/java/gov/cms/bfd/pipeline/AbstractLocalStackS3Test.java
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/main/java/gov/cms/bfd/pipeline/sharedutils/PipelineApplicationState.java
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/main/java/gov/cms/bfd/pipeline/sharedutils/s3/AwsS3ClientFactory.java
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/main/java/gov/cms/bfd/pipeline/sharedutils/s3/S3ClientConfig.java
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/test/java/gov/cms/bfd/pipeline/sharedutils/s3/S3ClientConfigTest.java
  apps/bfd-pipeline/bfd-pipeline-shared-utils/src/test/java/gov/cms/bfd/pipeline/sharedutils/s3/S3DaoIT.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/SpringConfiguration.java
  apps/bfd-shared-utils/pom.xml
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/config/AwsClientConfig.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/config/BaseAppConfiguration.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/config/LayeredConfiguration.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/DataSourceFactory.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/DatabaseOptions.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/DatabaseUtils.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/HikariDataSourceFactory.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/RdsDataSourceFactory.java
  apps/bfd-shared-utils/src/main/java/gov/cms/bfd/sharedutils/database/RdsHikariDataSource.java
  apps/bfd-shared-utils/src/test/java/gov/cms/bfd/sharedutils/config/AwsParameterStoreClientIT.java
  apps/bfd-shared-utils/src/test/java/gov/cms/bfd/sharedutils/config/LayeredConfigurationIT.java
  apps/bfd-shared-utils/src/test/java/gov/cms/bfd/sharedutils/database/HikariDataSourceFactoryTest.java
  apps/bfd-shared-utils/src/test/java/gov/cms/bfd/sharedutils/database/RdsDataSourceFactoryTest.java
  apps/bfd-shared-utils/src/test/java/gov/cms/bfd/sharedutils/database/RdsHikariDataSourceTest.java
  apps/utils/scripts/run-bfd-pipeline
  apps/utils/scripts/run-bfd-server
  apps/utils/scripts/run-db-migrator
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Generate metric expressions using networkin lower and upper bounds
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Set scale-in to evaluate over 10 periods; fix scaleout step adjustment bounds; update scalein to set capacity instead of remove it
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Adjust optionals to be less raw
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

add unit tests for the transformer utils methods added
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtilsTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Add utils methods for careTeam, fix a couple other optional bugs and confusions
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/InpatientClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

formatting
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix bug in v2 code for inpatientClaimTransformer not checking optional before using it
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/InpatientClaimTransformerV2.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

add tests for transformers for optional careteam items
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformerTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

fix bug in v2 code for inpatientClaimTransformer not checking optional before using it
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/InpatientClaimTransformerV2.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

initial adjustment of optional issues
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

formatting
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

add tests for dme and carrier adjustments
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2Test.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

further fixing optional typing
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

BFD-2815: Fix Inappropriate Usage of Optional (#1900)
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/InpatientClaimTransformerV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/InpatientClaimTransformer.java
  apps/bfd-server/bfd-server-war/src/main/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtils.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/CarrierClaimTransformerV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/DMEClaimTransformerV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/r4/providers/TransformerUtilsV2Test.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/CarrierClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/DMEClaimTransformerTest.java
  apps/bfd-server/bfd-server-war/src/test/java/gov/cms/bfd/server/war/stu3/providers/TransformerUtilsTest.java
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Update ops/terraform/services/server/modules/bfd_server_asg/main.tf
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

BFD-2856 : BFD Server ASG Network Scaling Policies are causing erroneous capacity oscillation (#1901)
  ops/terraform/services/server/modules/bfd_server_asg/README.md
  ops/terraform/services/server/modules/bfd_server_asg/main.tf
  ops/terraform/services/server/modules/bfd_server_asg/variables.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

upgrade provider
  insights/terraform/projects/bcda/terraform.tf
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

Reconcile bcda tfstate
  insights/terraform/modules/bucket/main.tf
  insights/terraform/modules/table/main.tf
  insights/terraform/modules/table/variables.tf
  insights/terraform/projects/bcda/README.md
  insights/terraform/projects/bcda/main.tf
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

fix: upgrade ch.qos.logback:logback-classic from 1.4.8 to 1.4.9
  apps/pom.xml
Owners: @mackec1, @mjburling, @lsmitchell, @brianburton

Add assumable dev role, refactor,
  insights/terraform/modules/bucket/main.tf
  insights/terraform/modules/bucket/policies.tf
  insights/terraform/modules/bucket/variables.tf
  insights/terraform/modules/database/variables.tf
  insights/terraform/modules/firehose/variables.tf
  insights/terraform/modules/jobs/variables.tf
  insights/terraform/modules/table/variables.tf
  insights/terraform/modules/workgroup/variables.tf
  insights/terraform/projects/bcda/README.md
  insights/terraform/projects/bcda/iam.tf
  insights/terraform/projects/bcda/main.tf
  insights/terraform/projects/bcda/terraform.tf
Owners: @keithdadkins, @mackec1, @lsmitchell, @mjburling, @malessi, @billie-rose

Extract common classes and constants to common.py; ignore type errors with boto3 clients
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/common.py
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/update_pipeline_slis.py
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Add resources for repeater Lambda
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/iam.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Refactor repeater lambda to use repeating metric enumerations
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/pipeline_metrics_repeater.py
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Refactor resource definitions to dynamically generate for each Lambda; add IAM resources for repeater Lambda
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/data-sources.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/iam.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Submit to both the conventional and "repeating" variant of certain pipeline metrics immediately
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/update_pipeline_slis.py
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Dynamically create Lambda source archives; reference proper source archive resources per-Lambda
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/data-sources.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Add "repeating" metrics to PipelineMetrics enum
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/common.py
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Add source for metrics repeater lambda
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/pipeline_metrics_repeater.py
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Merge branch 'master' into BFD-2856__fix-scaling-policies-v2
  ops/terraform/services/common/s3.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Store SLIs Repeater Lambda invoke rate in configuration; retrieve repeater rate from config
  ops/terraform/services/base/values/prod-sbx.yaml
  ops/terraform/services/base/values/prod.yaml
  ops/terraform/services/base/values/test.yaml
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/data-sources.tf
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update main.tf
  ops/terraform/modules/resources/s3/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Get last element from split dynamically
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Pass assumer role ARN instead of policy ARN
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Reword description to fit character limit
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Replace SLO alarm metrics with their "-repeating" variants
  ops/terraform/services/pipeline/modules/bfd_pipeline_slo_alarms/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Update Alarm destinations to route to proper channels for prod environment
  ops/terraform/services/pipeline/modules/bfd_pipeline_slo_alarms/main.tf
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

Exit if no metric values were returned
  ops/terraform/services/pipeline/modules/bfd_pipeline_slis/lambda_src/pipeline_metrics_repeater.py
Owners: @keithdadkins, @mjburling, @malessi, @billie-rose

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@mackec1 @keithdadkins @lsmitchell @mjburling @brianburton 

# BFD Pipeline and Server Codeowners
/docs/rfcs @mackec1 @keithdadkins @lsmitchell @mjburling
/ops @keithdadkins @mjburling @malessi @billie-rose
/apps @mackec1 @mjburling @lsmitchell @brianburton

# BFD Performance Testing Utilities
/apps/utils/locust_tests @lsmitchell @mjburling @malessi @billie-rose

# BFD Insights Codeowners
/insights @keithdadkins @mackec1 @lsmitchell @mjburling @malessi @billie-rose

# GitHub Actions Workflows
/.github/workflows @keithdadkins @mjburling @malessi @billie-rose

# Administration
/.github/CODEOWNERS @keithdadkins @mjburling
